/* -------------Container---------------- */
.container{
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

/* -------------Title-------------- */

.title{
    position: absolute;
    top: 40vh;
    text-align: center;
    width: 100%;
    color: grey;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

@media screen and (min-width:500px) and (max-width:950px) {
    .title{
        top: 30vh;
        font-size: 35px;
    }
}

@media screen and (min-width:950px) {
    .title{
        top: 30vh;
        font-size: 55px;
    }
}


.title:hover{
    color:#3E412C;
    cursor: pointer;
}

.tagline-containers{
    display: flex;
    margin: 0 auto;
    width: 700px;
    justify-content: center;
}

.tagline-containers img{
    width: 350px;
    height: auto;
}

.tagline-container-1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 20px;
    text-align: center; 
    
}

.tagline-container-1{
    margin-top: 20%;
    text-align:  right;
    
}

.tagline-container-1 img{
    margin-top: 25%;
    text-align: right;
}
.tagline-container-2 {
    margin-left: 10px;
    text-align:  center;

}

.tagline-container-2 img {
    padding-bottom: 10px;
    text-align: left;
}


@media screen and (max-width:800px) {
    .tagline-containers img{
        max-width: 100%;
        height: auto;
    }

    .tagline-containers{
        max-width: 100%;
    }

    .tagline-container-1 p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        margin-top: 20px;
        text-align: center; 
        
    }

    .tagline-container-1{
        margin-top: 10%;
        text-align:  right;
        
    }
    
}

/* ----------- About Me --------------- */
.about-me-container{
    display: flex;
    justify-content: center;

}

.about-me-text{
    width: 500px;
}

.about-me h1{
    font-size: 40px;
    margin-bottom: 50px;
}

.about-me-container p{
    font-size: 20px;
    margin-bottom: 50px;
}
.about-me-container img{
    position: relative;
    width: auto;
    height: 400px;
    padding-left:90px;
    /* top: -100px; */
}

.about-me-container Button{
    font-size: 20px;
}


@media screen and (max-width: 500px){
    .about-me-container{
        /* display: flex; */
        flex-wrap: wrap-reverse;
    }
    
    .about-me h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .about-me-img{
        width: 100%;
    }

    .about-me-container img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        position: inherit;
    }
    .about-me-container p{
        font-size: 18px;
        padding: 0 5px;
        margin-bottom: 20px;
    }
    
    .about-me-container Button{
        margin: 0 5px;
        font-size: 15px;
    }
}

@media screen and (min-width:500px) and (max-width: 800px){
    .about-me-container p{
        font-size: 15px;
        padding: 0 5px;
        margin-bottom: 20px;
    }

    .about-me-container Button{
        margin: 0 5px;
        font-size: 10px;
    }

    .about-me-container img{
        width: auto;
        height: 300px;
        display: block;
        margin: 0 auto;
        /* padding: 20px 0; */
        position: inherit;
    }

}

/* ----------- Portfolio---------------- */
.container h1{
    text-align: center;
    margin-bottom: 30px;

}

.portfolio-images{
    margin-bottom: 100px;
}

.portfolio-items ol{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding: 0 ;
    justify-content: center;
    overflow-x: auto;
    font-size: 25px;
}

.portfolio-items ol::-webkit-scrollbar{
    display: none;
}

.portfolio-items>ol li{
    padding: 10px 5px 5px;
    margin: 0 10px;
}

.portfolio-items>ol li:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

.image-container{
    text-align: center;
}

@media screen and (max-width:800px) {
    .image-container{
        display:flex;
        overflow-x:auto;
    }

    .portfolio-items ol {
        justify-content: left;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .portfolio-images{
        margin-bottom: 50px;
    }

    .portfolio-videos{
        text-align: center;
    }
}

.image-container::-webkit-scrollbar{
    display: none;
}

.image-container img{
    margin: 10px
}

/* ----------contact me----------------- */
@media screen and (min-width: 600px){
    .contact-me .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-me-description{
        margin-right: 100px;
    }
}

.form-layout-card>.form{
    max-width: 600px;
}

.form>.form-details{
    max-width:100%;
}

.inputfield {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-color: #D4C8BA ;
    border-radius: 10px;
}

.form-textarea{
    width: 100%;
    min-height: 100px;
    border-color: #D4C8BA ;
    border-radius: 10px;
    padding: 5px 10px;
}
/* ---------------Footer--------------- */

.footer{
    background-color: #3E412C;
    color: white;
    font-size: 15px;
}

.copyright{
    padding: 0;
    text-align: center;
}

.footer .container div{
    padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
    
    .footer .container div:nth-child(2) h2{
        text-align: center;
    }

    .footer .container{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .copyright{
        font-size: 20px;
    }        
}